.container {
  font-size: 16px;
  margin-left: 2rem;
  margin-right: 2rem;
  .header {
    width: 100%;
    border-bottom: 1px solid rgb(147, 147, 147);
    text-align: center;
    .title {
      font-weight: bold;
      font-size: 2em;
      text-transform: uppercase;
    }

    .sub-title {
      font-weight: bold;
      font-size: 1.6em;
      text-transform: uppercase;
    }

    .description {
      text-align: left;
      font-size: 2em;
      padding-left: 0.6em;
    }
  }

  .main {
    margin-top: 3em;
    margin-bottom: 3em;

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      cursor: pointer;
      .box {
        flex: 1 0 21%;
        margin: 5px;
        padding: 1.5em;
        border-radius: 1.2em;

        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
          rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;

        &:hover {
          background-color: rgb(240, 240, 240);
          border: 1px solid grey;
        }

        .loading {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        .title {
          font-weight: bold;
          font-size: 1.2em;
          padding-top: 1em;
        }
        .image {
          text-align: center;
          width: 8em;
          height: 13em;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .header {
      .title {
        font-size: 1.8em;
      }
      .sub-title {
        font-size: 1.4em;
      }
      .description {
        font-size: 1.8em;
      }
    }
    .main {
      .wrapper {
        .box {
          .image {
            width: 4em;
            height: 7em;
          }
          .title {
            font-size: 1em;
          }
        }
      }
    }
  }
}
